<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.CustomerMapper">
    <cache/>


    <!--查询Customer包括参数查询-->
    <!--本人只能看自己的客户和公共客户-->
    <select id="findCustomerByParam" resultType="Customer">
        SELECT * from t_customer
        <where>
            <if test="userid !=null and userid !=''">
                userid=#{userid} or (userid is null or userid='')
                <!--自己的客户和公共客户-->
            </if>
            <if test="keyword !=null and keyword !=''">
              and (name like concat('%',#{keyword},'%') or tel like concat('%',#{keyword},'%') or  pinyin like concat('%',#{keyword},'%'))
            </if>
        </where>
        order by id desc
        limit ${start},${length}
    </select>

    <!--总数-->
    <select id="findCount" resultType="java.lang.Long">
        SELECT count(*) from t_customer
    </select>

    <!--按参数查询时候得数量-->
    <select id="findFilterCount" resultType="java.lang.Long">
        SELECT count(*) from t_customer
        <where>
            <if test="userid !=null and userid !=''">
                userid=#{userid} or (userid is null or userid='')
            </if>
            <if test="keyword !=null and keyword !=''">
                and (name like concat('%',#{keyword},'%') or tel like concat('%',#{keyword},'%') or  pinyin like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <select id="findType" resultType="com.kaishengit.pojo.Customer">
        select * from t_customer WHERE type=#{type}
    </select>

    <select id="findById" resultType="Customer">
        SELECT *from t_customer WHERE id=#{id}
    </select>

    <!--保存客户-->
    <insert id="saveCustomer">
        INSERT into t_customer(name,tel,address,weixin,email,pinyin,companyID,companyname,level,type,userid)
        VALUES (#{name},#{tel},#{address},#{weixin},#{email},#{pinyin},#{companyID},#{companyname},#{level},#{type},#{userid})
    </insert>

    <delete id="delCustomer">
        delete from t_customer where id=#{id}
    </delete>

    <!--查所有companyID=id的客户-->
    <select id="findByCompanyId" resultType="Customer">
        SELECT *from t_customer where companyID=#{id}
    </select>

    <update id="update">
        UPDATE t_customer set companyID=#{companyID},companyname=#{companyname} where id=#{id}
    </update>

</mapper>