<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.SalesMapper">
    <cache/>

    <!--查询，包括参数查询-->
    <select id="findParam" resultType="Sales">
        SELECT * FROM t_sales
        <where>
            <if test="userid != null and userid != ''">
                userid = #{userid}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="progress != null and progress != ''">
                and progress = #{progress}
            </if>
            <if test="startdate != null and startdate != ''">
                and date(lasttime) >= #{startdate}
            </if>
            <if test="enddate != null and enddate != ''">
                and date(lasttime) &lt;= #{enddate}
            </if>
        </where>
        order by id desc
        limit ${start},${length}
    </select>
    <!--查询数量，包括参数查询-->
    <select id="findFilterCount" resultType="java.lang.Long">
        SELECT count(*) FROM t_sales
        <where>
            <if test="userid != null and userid != ''">
                userid = #{userid}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="progress != null and progress != ''">
                and progress = #{progress}
            </if>
            <if test="startdate != null and startdate != ''">
                and date(lasttime) >= #{startdate}
            </if>
            <if test="enddate != null and enddate != ''">
                and date(lasttime) &lt;= #{enddate}
            </if>
        </where>
    </select>


<!--新建(里面多加的能使传进来的对象的id创建值，以供自动保存记录获取对象的id)-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT into t_sales(name, price, customerid, customername, progress, lasttime, userid, username, successtime)
        VALUES(#{name},#{price},#{customerid},#{customername},#{progress},#{lasttime},#{userid},#{username},#{successtime})
    </insert>

    <!--通过id查询-->
    <select id="findById" resultType="Sales">
        SELECT *FROM t_sales WHERE id=#{id}
    </select>

    <update id="update">
        UPDATE t_sales SET lasttime = #{lasttime},successtime=#{successtime},progress=#{progress}
        where id = #{id}
    </update>

    <select id="findByCustomerid" resultType="com.kaishengit.pojo.Sales">
        select * from t_sales WHERE customerid=#{customerid};
    </select>

    <delete id="delSalesById">
        DELETE from t_sales WHERE id=#{id}
    </delete>

</mapper>