<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">
    <cache/>

    <select id="findByUsername" resultType="User">
        SELECT *from t_user WHERE username=#{username}
    </select>

    <update id="updatePassword">
        UPDATE t_user set password=#{password} where id=#{id}
    </update>

    <select id="findAllUserByParam" resultType="User">
        SELECT t_user.*,t_role.rolename AS 'role.rolename' from t_user
        INNER JOIN t_role ON t_user.roleid=t_role.id
        <where>
            <if test="keyword !=null and keyword !=''">
                username LIKE concat('%',#{keyword},'%') or realname LIKE concat('%',#{keyword},'%')
            </if>
        </where>
        order by t_user.id desc
        limit ${start},${length}
    </select>

    <select id="findAllCount" resultType="java.lang.Long">
        select count(*) from t_user;
    </select>

    <select id="findFilterCount" resultType="java.lang.Long">
        select count(*) from t_user
        <where>
            <if test="keyword !=null and keyword !=''">
                username LIKE concat('%',#{keyword},'%') or realname LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <insert id="saveUser">
        INSERT into t_user(username,realname,password,roleid,weixin)
        VALUES(#{username},#{realname},#{password},#{roleid},#{weixin})
    </insert>

    <select id="findUserById" resultType="User">
        SELECT * from t_user where id=#{id}
    </select>

    <update id="updateUserPwd">
        UPDATE t_user SET password=#{password} where id=#{id}
    </update>

    <update id="userEdit">
        UPDATE t_user
        <set>
            <if test="realname !=null and realname !=''">
                realname=#{realname},
            </if>
            <if test="realname !=null and realname !=''">
                roleid=#{roleid},
            </if>
            <if test="realname !=null and realname !=''">
                weixin=#{weixin},
            </if>
                enable=#{enable}
            <!--enable=#{enable}。boolean不用判断否则不能修改-->
        </set>
        where id=#{id}
    </update>

</mapper>